<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pning.auth.mapper.SystemUserMapper">

   <select id="selectSystemUserByUserName" resultMap="SystemUserLogin">
        SELECT
            u.username,
            u.password,
            r.r_name
        FROM sys_user u
             LEFT JOIN sys_user_role ur ON u.id=ur.uid
             LEFT JOIN sys_role r ON  ur.rid=r.r_id
        where u.username=#{username}
   </select>

    <resultMap type="com.pning.auth.pojo.SystemUser" id="SystemUserLogin">
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="systemroles" ofType="com.pning.auth.pojo.SystemRole">
            <result property="authority" column="r_name"/>
        </collection>
    </resultMap>

</mapper>